name: ascension-server-merge-dev-to-main

on:
  workflow_run:
    workflows: ["ascension-server-default-check"]
    types:
      - completed
    branches:
      - 'dev'

jobs:

  merge-branch:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@v1
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
        fetch-depth: 0
        ref: ${{ github.event.workflow_run.head_branch }}

    - name: Merge dev into main
      uses: everlytic/branch-merge@1.1.2
      with:
        github_token: ${{ steps.generate_token.outputs.token }}
        source_ref: ${{ github.event.workflow_run.head_branch }}
        target_branch: 'main'
        commit_message_template: 'merge: `{source_ref}` into `{target_branch}`'
