name: ascension-server-merge-dev-to-main

on:
  workflow_run:
    workflows: ["ascension-server-default-check"]
    types:
      - completed
    branches:
      - 'dev'

jobs:

  merge-branch:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@v1
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
        fetch-depth: 0
        ref: ${{ github.event.workflow_run.head_branch }}

    - name: Merge dev into main
      env:
        GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      run: |
        git config --global user.email "ascension-eip-app[bot]@users.noreply.github.com"
        git config --global user.name "Ascension-eip-app[bot]"

        git fetch origin main
        git checkout main
        git pull origin main

        git merge origin/${{ github.event.workflow_run.head_branch }} --no-ff -m "merge: \`${{ github.event.workflow_run.head_branch }}\` into \`main\`"

        git push origin main
